.navigation{
    background-color: rgb(47,59,161);
    margin:0;
    padding-top:0;
    padding-bottom:0;
    padding-left:10%;
}
.navigation a{
    color:grey;
    text-decoration: none;
}
.navigation .active{
    background-color:rgb(25,30,128);
}
.navigation .active a{
    color:white;
}
.navigation .navbar{
    padding:0;
}
.logo{
    max-height: 40px;
    margin:0;
    padding:0;
    cursor: pointer;
}